@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.btn {
  width: 120px;
}

.custom-text-secondary {
  font-weight: bolder;
  color: gray;
}

.heading {
  font-weight: bolder;
  margin: 35px;
  display: flex;
  justify-content: center;
}

.heading-sub {
  margin-bottom: 30px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

.react-bootstrap-table-pagination-list {
  display: flex;
  justify-content: flex-end;
}

.dropdown-item > a {
  text-decoration: none;
  color: black;
}

.dropdown-item > a:hover {
  color: white;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}
